@using GDS.Components.ViewModelCalculationModels
@model GDS.Components.ViewModels.PaginationViewModel
@{

    if (Model == null)
    {
        throw new InvalidOperationException("PaginationViewModel is null.");
    }
    var paginationCalculationModel = new PaginationViewCalculationsModel(Model);
    if (paginationCalculationModel == null)
    {
        throw new InvalidOperationException("PaginationCalculationModel is null.");
    }
}
@{
   @if (paginationCalculationModel.numericMode)
    {
        <nav class="govuk-pagination" aria-label="Pagination">
            @if (@paginationCalculationModel.showPrevious)
            {
                <div class="govuk-pagination__prev">
                    <a class="govuk-link govuk-pagination__link" href="@paginationCalculationModel.previousLink" rel="prev">
                        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                        </svg>
                        <span class="govuk-pagination__link-title">
                            @Model.PreviousText<span class="govuk-visually-hidden"> page</span>
                        </span>
                    </a>
                </div>
            }
            <ul class="govuk-pagination__list">
                <li class="@paginationCalculationModel.firstPageClass">
                    <a class="govuk-link govuk-pagination__link" href="@paginationCalculationModel.firstPageUrl" aria-label="Page 1">
                        1
                    </a>
                </li>
                @if (paginationCalculationModel.showPrevElipses)
                {
                    <li class="govuk-pagination__item govuk-pagination__item--ellipses">
                        &ctdot;
                    </li>
                }
                @for (int i = paginationCalculationModel.iteratorMin; i <= paginationCalculationModel.iteratorMax; i++)
                {
                    var linkUrl = $"{Model.RootUrl}{i}";
                    var liClassName = (i == Model.CurrentPage) ? "govuk-pagination__item govuk-pagination__item--current" : "govuk-pagination__item";
                    <li class="@liClassName">
                        <a class="govuk-link govuk-pagination__link" href="@linkUrl" aria-label="Page @i">
                            @i
                        </a>
                    </li>
                }
                @if (paginationCalculationModel.showNextElipses)
                {
                    <li class="govuk-pagination__item govuk-pagination__item--ellipses">
                        &ctdot;
                    </li>
                }
                <li class="@paginationCalculationModel.lastPageClass">
                    <a class="govuk-link govuk-pagination__link" href="@paginationCalculationModel.lastPageUrl" aria-label="Page @Model.MaxPage">
                        @Model.MaxPage
                    </a>
                </li>
            </ul>
            @if (paginationCalculationModel.showNext)
            {
                <div class="govuk-pagination__next">
                    <a class="govuk-link govuk-pagination__link" href="@paginationCalculationModel.nextLink" rel="next">
                        <span class="govuk-pagination__link-title">
                            @Model.NextText<span class="govuk-visually-hidden"> page</span>
                        </span>
                        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                        </svg>
                    </a>
                </div>
            }
        </nav>
    }
    else
    {
        <nav class="govuk-pagination govuk-pagination--block" aria-label="Pagination">
            <div class="govuk-pagination__prev">
                <a class="govuk-link govuk-pagination__link" href="@Model.PreviousLink.Url" rel="prev">
                    <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    <span class="govuk-pagination__link-title">
                        @Model.PreviousLink.Text<span class="govuk-visually-hidden"> page</span>
                    </span>
                    <span class="govuk-visually-hidden">:</span>
                    <span class="govuk-pagination__link-label">@Model.PreviousLink.Label</span>
                </a>
            </div>
            <div class="govuk-pagination__next">
                <a class="govuk-link govuk-pagination__link" href="@Model.NextLink.Url" rel="next">
                    <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                    <span class="govuk-pagination__link-title">
                        @Model.NextLink.Text<span class="govuk-visually-hidden"> page</span>
                    </span>
                    <span class="govuk-visually-hidden">:</span>
                    <span class="govuk-pagination__link-label">@Model.NextLink.Label</span>
                </a>
            </div>
        </nav>
    }
}