@using GDS.Components.Enum
@using GDS.Components.Extensions
@using GDS.Components.ViewModelCalculationModels
@model GDS.Components.ViewModels.PasswordViewModel
@{

    if (Model == null)
    {
        throw new InvalidOperationException("PasswordViewModel is null.");
    }

    var inputBaseId = ViewData.TemplateInfo.HtmlFieldPrefix.Replace(" ", "").Replace("-", "").Replace("_", "").Replace(".", "").ToLower();
    var inputName = ViewData.TemplateInfo.GetFullHtmlFieldName("Value");
    var passwordCalculationsModel = new PasswordViewCalculationsModel(Model);
    if (passwordCalculationsModel == null)
    {
        throw new InvalidOperationException("PasswordCalculationsModel is null.");
    }
}
@{
    <div class="@passwordCalculationsModel.containerClass" data-module="govuk-password-input">
        @if (passwordCalculationsModel.showH1)
        {
            <h1 class="govuk-label-wrapper">
                <label class="@passwordCalculationsModel.labelClass" for="@inputBaseId">
                    @Model.Label
                </label>
            </h1>
        }
        else
        {
            <label class="@passwordCalculationsModel.labelClass" for="@inputBaseId">
                @Model.Label
            </label>
        }
        @if (passwordCalculationsModel.hasHint)
        {
            <div id="@inputBaseId-hint" class="govuk-hint">
                @Model.Hint
            </div>
        }
        @if (passwordCalculationsModel.isError)
        {
            <p id="@inputBaseId-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> @Model.Error
            </p>
        }
        <div class="govuk-input__wrapper govuk-password-input__wrapper">
            <input class="@passwordCalculationsModel.elementClass" id="@inputBaseId" name="@inputName" type="password" spellcheck="false" autocomplete="current-password" autocapitalize="none" value="@Model.Value">
            <button type="button" class="govuk-button govuk-button--secondary govuk-password-input__toggle govuk-js-password-input-toggle" data-module="govuk-button" aria-controls="password-input" aria-label="Show password" hidden>
                Show
            </button>
        </div>
    </div>
}
